{% extends "base_template.html" %}

{% block title %}Change Password{% endblock %}

{% block brand %}<a class="brand" href="{% url home %}">m:ci</a>{% endblock %}

{% block navbar %}
{% endblock %}
	
{% block content %}
	<form action="" method="post">{% csrf_token %}
		<h2 class="form-signin-heading">Change Password</h2>
		<hr />
		
		{% if error %}		
			<div class="alert alert-error">
		        {{ error }}
	        </div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success">
		        {{ success }}
	        </div>
		{% endif %}

				
		{{ pForm }}
		
		<hr />
		<input class="btn btn-primary" type="submit" name="submit" value="Change" />
	</form>
{% endblock %}